# コメントは `#'
# 下層フォルダを全て無視する場合
# */
#
# images フォルダをまるごと無視したい
# images/
#
# images フォルダをまるごと無視するけど .png だけは無視したくない
# images/*.*
# !.png

## node_modulesフォルダまるごと無視したい
.idea/
node_modules/
dist/
typings/

# 下階層全てのフォルダ内で ".DS_Store" というファイルを無視する場合
*/.DS_Store
 
# 下階層全てのフォルダ内で”.log” という拡張子がついたファイルを無視する場合
*/*.log
 
# トップの階層の .exe ファイルのみを無視したいが、下階層内の .exe ファイルは無視しないという場合
/*.exe
 

