@charset "utf-8";

/* common */

body {
	font-size: 14px;
	font-family: Verdana, sans-serif;
	color: #333;
}


a {
	text-decoration: none;
}

p {
	line-height: 2;
}


section .container {
	width: 820px;
	margin: 0 auto;
}

section h2 {
	font-size: 26px;
	text-align: center;
	margin: 30px 0 90px;
	font-weight: normal;
}


/* header */

header {
	background: url('../img/bg.png');
	background-size: cover;
}

header .container {
	width: 820px;
	margin: 0 auto;
	height: 200px;
	padding-top: 10px;
	position: relative;
	overflow: hidden;
}

header h1, header p {
	color: #fff;
}

header p {
	padding-top: 50px;
}

header h1 {
	font-size: 34px;
	margin-bottom: 50px;
}

header img {
	position: absolute;
	right: 0;
	bottom: 0;
}

.desc {
	width: 360px;
}

.pull-right {
	float: right;
	padding-right: 40px;
}

.pull-left {
	float: left;
	padding-right: 40px;
}

.row {
	overflow: hidden;
	margin-bottom: 90px;
}

.row:last-child {
	margin-bottom: 0;
}

.features h3 {
	font-size: 24px;
}

.user img {
	position: absolute;
	width: 130px;
	height: 130px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -60px;
}

.user {
	background: #fff;
	width:250px;
	box-sizing: border-box;
	padding: 65px 40px 26px;
	position: relative;
}

.user h3 {
	text-align: center;
}

.product .container {
	display: flex;
	justify-content: space-between;
}

.product h2 {
	margin-bottom: 100px;
}

/* call-to-action */

.call-to-action {
	background: url('../img/bg.png');
	background-size: cover;
	text-align: center;
}

.call-to-action h2 {
	color: #fff;
	margin-bottom: 50px;
}

/* footer */
footer {
	padding: 30px 0;
	text-align: center;
	color: #aaa;
}
