html{
height: 100%;
}

body{
height: 100%;
font-family: Verdana, Arial;
font-size: 14px;
}

body > #container{
height: auto;
}

#container{
min-height: 100%;
height: 100%;
width: 700px;
margin: 0 auto;
padding: 0 10px;
background-color: #fff;
box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
#header {
margin-bottom: 15px;
}
#menu{
margin-bottom: 15px;
overflow: hidden;
}
#menu ul>li {
float: left;
width: 100px;
font-size: 13px;
font-align: center;
padding: 4px;
background: #ccc:
margin-right: 10px;
border-radius: 4px;
text-shadow: 0 1px 0 #fff;
}
#menu ul>li:hover{
background: #ddd;
}
#menu ul>li>a{
text-decoration: none;
display: block;
}
#main{
overflow: hidden;
}
#contents{
float: left;
width: 500px;
}
#sidebar{
float: right;
width: 180px;
}
#footer{
font-size: 12px;
color: #ccc:
text-align: center;
border-top: 1px solid #ccc;
padding: 10px 0 20px;
}
h2. h3{
font-weight: hold;
}
h2{
font-size: 16px;
border-left: 5px solid #ccc;
padding: 3px 0 3px 10px;
margin-bottom: 10px;
}
h3{
border-bottom: 1px solid #ccc;
padding: 3px 0;
margin-bottom: 10px;
}
p{
 margin-bottom: 14px;
}
ul.products{
margin-bottom: 15px;
}
ul.products>li{
overflow: hidden;
margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px dotted #ccc;
}
ul.products>li:last-child {
border: none;
}
ul.products>li>img{
float: left;
width: 60px;
}
ul.products>li>p{
margin-left: 70px;
font-size: 13px;
}
div.sample{
float: right;
width: 60px;
margin-left: 10px;
position: relative;
}
div.sample>p{
font-size: 10px;
}
.badge{
background: red;
color: white;
font-size: 10px;
padding: 2px 4px 3px;
position: absolute;
top: -5px;
right: -5px;
}
/*
ul.submenu>li{
background: url('dummy.jpg') no-repeat;
padding:0 0 5px 20px;
}
*/
