@charset "utf-8";

body {
  background-color: #222;
}

div.main {
  width: 80%;
  margin: 50px auto;
  background-color: #EEE;
  padding: 10%;
}

h2#result {
  border: dashed 4px #AAA;
  background-color: #FFF;
  padding: 10px 20px;
}
