/* HeroesComponent's private CSS styles */
li {
  cursor: pointer;
  padding: 0px;
  margin: 2px auto;  
  display:inline-block;
  color: red;
  width:80%;

  &:hover {
    color: #607D8B;
    background-color: #607D8B;
    left: .1em;
  }

  a {
    color:black;
    display:inline-block;
    width:80%;
    height: 100%;
    padding:10px 15px;
    text-decoration: none;

    &:hover {
      background:#607D8B;
    }
  }
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  font-family: Arial;

  &.delete {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: gray !important;
    color: white;
  }

  &:hover {
    background-color: #cfd8dc;
  }  
}


